@media screen and (max-width:768px) {

  /* Utilities */
  .btn{
    display: inline-block;
    padding: 0.5rem 0.75rem;
    font-size: 1.3rem;
    transition: all 0.5s ease;
  }

  #showcase-main-heading{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .color-letter-anim{
    margin: -3px;
  }

}