@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --default-font-color: #fff;
  --primary-color: #0B0C10;
  --navy-blue-color:#1F2833;
  --gray-color: #C5C6C7;
  --secondary-color: #66FCF1;
  --faded-cyan-color: #45A29E;
  --shadow-color: rgba(11,12,16,0.2);
}

/* Utilities */
.container{
  max-width: 960px;
  padding: 1rem 1rem;
  margin: 0 auto;
}


.nav-link{
  color: #fff;
  display: inline-block;
  margin: 0.2rem;
  padding: 0.5rem 1.15rem;
  transition:all 0.5s  ease-out;
}

.nav-link:hover{
  background: var(--secondary-color);
  color: var(--primary-color);
}

.btn{
  display: inline-block;
  padding: 0.75rem 1.5rem;
  font-size: 1.3rem;
  transition: all 0.5s ease;
}


.btn-primary{
  background: none;
  border: 1px solid #fff;
  color:#fff ;
}

.btn-primary:hover{
  background: var(--secondary-color);
  color: var(--primary-color);
  border: 1px solid var(--secondary-color);
}


/* CSS */
a{
  text-decoration: none;
}

body{
  background-image: linear-gradient(#0B0C10,#1F2833);
  background-attachment: fixed;
  font-family: 'Open Sans', sans-serif;
}


/* Navigation Bar Start */
.menu-wrap{
  display: none;
}
#navbar .container{
  display: flex;
  justify-content: space-between;
}

#name{
  background: repeating-linear-gradient(90deg,#0B0C10,#66FCF1,purple,#fff);
  background-clip: text;
  background-position: top left ;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 500% 500%;
  -webkit-text-fill-color: transparent;
  animation: flow 5s ease-in-out infinite alternate;
}

@keyframes flow{
  0%{
    background-position: 0% 0%;
  }
  
  50%{
    background-position: 50% 100%;
  }
  
  100%{
    background-position: 100% 100%;
  }
  
}



/* Navigation bar */
#navbar{
  background: rgba(11,12,16,0.5);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1;
}
#navbar .container>ul{
  list-style: none;
  color: #fff;
  display: flex;
}


/* Showcase */
#showcase{
  background: rgba(11,12,16,0.8);
  position: relative;
  height: 100vh;
}

#showcase::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url('../img/typing.gif') no-repeat center center/cover;
  z-index: -1;
}


#showcase .container{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


#showcase-content{
  color: #fff;
  overflow: hidden;
}

#showcase-main-heading{
  opacity: 0;
  transform: scale(0);
  font-size: 5rem;
  font-weight: 900;
  color: inherit;
  line-height: 1.4;
  animation: animateHeading 1s forwards ease-in-out 0.5s;
}

@keyframes animateHeading{
  to{
    opacity:1;
    transform: scale(1);
  }
}

.color-letter-anim{
  display: inline-block;
  margin: -10px;
}
.color-letter-anim:hover{
  animation: bubble 0.3s ease-out forwards;
}
@keyframes bubble{
  0%{
    color: #fff;
    transform: scale(1);
  }

  25%{
    color: #66FCF1;
    transform: scale(1.3);
  }
  100%{
    transform: scale(1);
  }
}

#showcase-sub-heading{
  opacity: 0;
  transform: translateX(1300px);
  font-weight: 100;
  line-height: 2rem;
  font-style: italic;
  margin-bottom: 1rem;
  animation: animateSubHeading 1s forwards  ease-in-out 1s;
}

@keyframes animateSubHeading{
  to{
    opacity:1;
    transform: translateX(0);
  }
}

#showcase-content .btn{
  opacity: 0;
  transform: translateX(-1300px);
  animation: animateReadMore 1s forwards ease-in-out 1.5s;
}
@keyframes animateReadMore{
  to{
    opacity:1;
    transform: translateX(0);
  }
}


/* skills-section */
#skills-section{
  background: repeating-linear-gradient(90deg,var(--primary-color), var(--secondary-color), purple,teal);
  background-size: 500% 500%;
  animation: animateBackground 5s ease-in-out infinite alternate;
}

@keyframes animateBackground{
  0%{
    background-position: 0% 0%;
  }
  
  50%{
    background-position: 50% 100%;
  }
  
  100%{
    background-position: 100% 100%;
  }

}

#skills-content{
  background: #f4f4f4;
  border: 1px solid #ddd;
  padding: 1.8rem;
  box-shadow: -5px -5px 5px var(--shadow-color);
  border-radius: 5px;

}

#skills-content h2{
  font-weight: 100;
}

#skills-content .tools-section{
  margin-top: 1rem;
}

#skills-content .tools-section h3{
  font-weight: 100;
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
  text-decoration: underline;
}

#skills-content .tools-section .tools{
  display: flex;
  flex-wrap: wrap;
}

#skills-content .tools-section .tools .logo-div{
  text-align: center;
  margin: 0.5rem;
}

.logo{
  height: 60px;
  width: 60px;
}